body {
    font-family:"Arial";
}

.main-image {
    border: solid black 4px;
    border-radius: 50%;
    width: 140px;
    height: 140px;
}

h1 {
    background-color: gold;
    padding: 5px;
    
}

.section-title {
    text-transform: uppercase;
}